<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>midExam</display-name>
  <context-param>
    <param-name>uploadFolder</param-name>
    <param-value>/upload/</param-value>
  </context-param>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <multipart-config>
      <location>C:\Temp\</location>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileKeep</display-name>
    <servlet-name>FileKeep</servlet-name>
    <servlet-class>exam.mid.FileKeep</servlet-class>
    <multipart-config>
      <location>C:\Temp\</location>
      <max-file-size>-1</max-file-size>
      <max-request-size>-1</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileKeep</servlet-name>
    <url-pattern>/sendFile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDelete</display-name>
    <servlet-name>FileDelete</servlet-name>
    <servlet-class>exam.mid.FileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDelete</servlet-name>
    <url-pattern>/deleteFile.do</url-pattern>
  </servlet-mapping>
</web-app>