<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>PurchaseItem</display-name>
    <servlet-name>PurchaseItem</servlet-name>
    <servlet-class>form.cookie.PurchaseItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseItem</servlet-name>
    <url-pattern>/PurchaseItem</url-pattern>
  </servlet-mapping>
  <display-name>midExam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inventory</display-name>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>shop.fruit.Inventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/Inventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebUser</display-name>
    <servlet-name>WebUser</servlet-name>
    <servlet-class>site.manage.WebUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebUser</servlet-name>
    <url-pattern>/WebUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessLogin</display-name>
    <servlet-name>ProcessLogin</servlet-name>
    <servlet-class>form.handle.ProcessLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogin</servlet-name>
    <url-pattern>/processLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessLogout</display-name>
    <servlet-name>ProcessLogout</servlet-name>
    <servlet-class>form.handle.ProcessLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessLogout</servlet-name>
    <url-pattern>/processLogout.do</url-pattern>
  </servlet-mapping>
</web-app>